{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'officer/officer_2_index.html' %}
{% block body %}


<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1"   class="table table-striped table-dark" >
    <tr>
      <td>S/no</td>
      <td>Scheme name </td>
      <td>Documents</td>
      <td>from Date</td>
        <td>Due Date</td>
      <td>Details</td>
      <td>&nbsp;</td>
    </tr>
      {% for i in val %}
    <tr>
     <td>{{forloop.counter }}</td>
    <td>{{ i.name }}</td>
      <td>{{ i.documents }}</td>
      <td>{{ i.fdate }}</td>
        <td>{{ i.tdate }}</td>
      <td>{{ i.details}}</td>

      <td><p><a href="edit_schemes/{{ i.id }}#main "class="btn btn-outline-success">edit</a></p>
      <p><a href="dlt_schms/{{ i.id }}#main  "class="btn btn-outline-danger"  onclick="return confirm('Do you want to delete')"> delete</a></p></td>
    </tr>
               {% endfor %}
    <tr>
      <td colspan="7"><div align="center"><a href="/addschemes#about" class="btn btn-primary">Add</a></div></td>
    </tr>
  </table>
</form>
{% endblock %}
{#</body>#}
{#</html>#}
