{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'officer/officer_2_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/srchfarmerinfo#main">
  <table width="287" border="1" class="table table-striped table-dark">
    <tr align="center"><td colspan="9"><h3 ALIGN="center"> <font color="white">VIEW FARMER INFO</font></h3></td></tr>
    <tr>
      <td height="57" colspan="4"><label>
        <div align="center">Farmer 
          <input type="text" name="textfield" />
          <input type="submit" name="Submit" value="Search" />
          </div>
      </label></td>
    </tr>
    <tr>

      <td width="65">farmer</td>
      <td width="64">phone no</td>
<td width="64"></td>
    </tr>

       {% for i in val %}
           {% if i.pin > 0 %}
   <tr>

      <td>{{ i.name }}</td>
      <td>{{ i.phon }}</td>
      <td width="64"><a href="viwprdct/{{ i.id }}#main" class="btn btn-outline-success">View Product({{ i.pin }})</a></td>
    </tr>
           {% endif %}
        {% endfor %}

       {% for i in val %}
           {% if i.pin == 0 %}
   <tr>

      <td>{{ i.name }}</td>
      <td>{{ i.phon }}</td>
      <td width="64"><a href="viwprdct/{{ i.id }}#main" class="btn btn-outline-success">View Product({{ i.pin }})</a></td>
    </tr>
           {% endif %}
        {% endfor %}



  </table>
</form>
{% endblock %}
{#</body>#}
{#</html>#}
