{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}

{% extends 'officer/officer_2_index.html' %}
{% block body %}

<form id="form1" name="form1" method="post" action="">
  <table width="348" border="1" class="table table-striped table-dark" >
    <tr align="center"><td colspan="9"><h3 ALIGN="center"> <font color="white">VIEW PRODUCTS</font></h3></td></tr>
    <tr>
      <td width="45">s/no</td>
      <td width="63">product</td>
      <td width="58">price(/kg)</td>
      <td width="60">stock</td>
      <td width="88">&nbsp;</td>
    </tr>

       {% for i in val %}
    <tr>
      <td height="96">&nbsp;{{ forloop.counter }}</td>
      <td><img src="{{ i.image.url }}" height="100" width="100">{{i.name}}</td>
      <td>{{ i.price }}</td>
      <td>&nbsp;{{ i.quantity }}</td>
      <td><a href="/ordrrqst/{{ i.id }}#main" class="btn btn-outline-success">view order request</a></td>
    </tr>
         {% endfor %}
  </table>
  <a href="#"></a>
</form>
{% endblock %}



{#</body>#}
{#</html>#}
