{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'farmer/farmerindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="srchsnddbtvwrply#main">
  <table width="257" border="1" class="table table-striped table-dark">
  <tr align="center"><td colspan="9"><h3 ALIGN="center"> <font color="white">REQUEST QUERIES</font></h3></td></tr>
    <tr>
        <td colspan="5">Date
            <input type="date" name="textfield" required />
        <input type="submit" name="Submit" value="search" />
      </td>
    </tr>
    <tr>
      <td width="33">S/no</td>
        <td width="33">officer</td>
        <td width="33">Doubt</td>
      <td width="91">Date</td>
        <td width="33">Reply</td>
</tr>

      {% for i in val %}
      <tr>
      <td>{{forloop.counter}}</td>
          <td> {{i.OFFICER.name}}</td>
      <td>&nbsp;{{ i.doubt }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.reply }}</td>
     </tr>
      {% endfor %}
    <tr>
      <td colspan="5"><div align="center"><a href="snddbt#main" class="btn btn-outline-danger">send</a></div></td>
    </tr>
  </table>
</form>
{% endblock %}
{#</body>#}
{#</html>#}
