{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'farmer/farmerindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table width="430" border="1" class="table table-striped table-dark">
  <tr align="center"><td colspan="9"><h3 ALIGN="center"> <font color="white">VIEW ORDERD ITEMS</font></h3></td></tr>
    <tr>
      <td width="59">Product</td>
      <td width="47">image</td>
      <td width="65">Details</td>
      <td width="69">Quantity</td>
    </tr>
       {% for i in val %}
    <tr>
      <td >{{i.PRODUCT.sproduct }}</td>
      <td>&nbsp;<img src="{{ i.PRODUCT.image.url }}" width="100" height="100"></td>
      <td>&nbsp;{{ i.PRODUCT.details }}</td>
      <td>{{ i.quantity }}</td>
    </tr>
       {% endfor %}
  </table>
</form>
{% endblock %}
{#</body>#}
{#</html>#}
