{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}

{%  extends 'admin/admi_2_index.html' %}
{%  block body %}
<form id="form1" name="form1" method="post" action="/sendedreply">
  <table width="297" border="1" class="table table-striped table-dark">
      <tr align="center"><td colspan="9"><h3 ALIGN="center"> <font color="white">SEND REPLY</font></h3></td></tr>
    <tr>
      <td width="92" >Reply</td>
      <td width="189"><label>
        <input type="text" name="textfield2" required />
      </label></td>
    </tr>
    <tr>
      <td height="42" colspan="2"><label>
{#        <input type="submit" name="Submit" value="send" />#}
          <input type="submit" name="Submit" value="send" style="background-color: lightgreen; padding: 5px 10px; border: 1px solid #00A000; border-radius: 5px; color: white; font-weight: bold;">

      </label></td>
    </tr>
  </table>
</form>
{% endblock %}
{#</body>#}
{#</html>#}
