{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}

{% extends 'user/userindex.html' %}
{% block body %}

<form id="form1" name="form1" method="post" action="">
{#    <img src="static/userhome/assets/img/agri.jpg" >#}

  <table width="200" border="1">
    <tr>
      <td><a href="ordrprdct">order products</a></td>
    </tr>
    <tr>
      <td><a href="ordr_status">order status</a></td>
    </tr>
{#    <tr>#}
{#      <td><a href="#">Add & view product rating</a></td>#}
{#    </tr>#}
    <tr>
      <td><a href="sndcmplntviwrply">send complaint &view reply</a></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/">Logout</a></div></td>
    </tr>
  </table>
</form>
{% endblock %}
{#</body>#}
{#</html>#}
