{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'user/userindex.html' %}
{% block body %}

<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-striped table-dark">
    <tr>
      <td width="43">product name </td>
      <td width="43">image</td>
      <td width="43">Price</td>
      <td width="43">quantity</td>
    </tr>
      {% for i in val %}
    <tr>
{#      <td height="88">&nbsp;</td>#}
      <td>{{ i.PRODUCT.name }}</td>
      <td><img src="{{ i.PRODUCT.image.url }}" width="100" height="100"></td>
              <td>&nbsp;{{ i.PRODUCT.price }}</td>

      <td>&nbsp;{{ i.quantity }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}
{#</body>#}
{#</html>#}
